name: build and tests

on:
  - push
  - pull_request

jobs:
  test:
    name: test
    runs-on: "ubuntu-latest"
    services:
      postgres:
        image: akira345/postgres13-ja_jp-locale:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: rss_db_test
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      mailcatcher:
        image: schickling/mailcatcher
        ports:
          - 1080:1080
          - 1025:1025
      memcached:
        image: memcached:latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4.24'
          extensions: mbstring, opcache, memcached
          ini-values: date.timezone = "Asia/Tokyo",mbstring.internal_encoding = "UTF-8",mbstring.language = "Japanese",opcache.memory_consumption=128,opcache.interned_strings_buffer=8,opcache.max_accelerated_files=4000,opcache.revalidate_freq=2,opcache.fast_shutdown=1,opcache.enable_cli=1
      - name: Copy environment file
        run: cp .env.github .env
      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: yarn
      - name: Install
        run: yarn install
      - name: Install Dependencies
        run: composer install --no-interaction --prefer-dist --no-suggest
      - name: Generate key
        run: php artisan key:generate
      - name: clear view
        run: php artisan view:clear
      - name: view cache
        run: php artisan view:cache
      - name: migrate
        run: php artisan migrate --seed
      - name: runTest
        run: ./vendor/bin/phpunit --coverage-clover clover.xml
      - name: test
        run: ls -lah
      - uses: codecov/codecov-action@v2
        with:
          files: ./clover.xml
